<div class="layout">
  <app-navbar></app-navbar>
  <div class="content">
    <div class="logout">
      <span class="material-icons"> logout </span>
    </div>
    <div class="btn">
      <button mat-fab class="create-btn" (click)="openCreateNoteModal()">
        <mat-icon>create</mat-icon>
      </button>
    </div>
    <app-card-creation
      [opened]="openModal"
      (close)="modalOnClose($event)"
      (cardContent)="setNewCard($event)"
    ></app-card-creation>
    <div class="notes-board">
      <div
        class="note"
        *ngFor="let nota of inventory.slice().reverse(); let i = index"
        [class.expanded]="expandedIndex === i"
        (mouseenter)="expandedIndex = i"
        (mouseleave)="expandedIndex = null"
        [ngClass]="nota.cardTagType"
      >
        <div class="note-title"><strong>{{ nota.title }}</strong></div>
        <div class="note-content">{{ nota.content }}</div>
        <div class="note-tag">{{ nota.tag }}</div>

        <!-- botal de exclusao -->
        <button
          *ngIf="expandedIndex === i"
          mat-icon-button
          class="delete-btn"
          (click)="deleteNote(i)"
          aria-label="Excluir nota"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
