<div class="layout">
  <app-navbar></app-navbar>
  <div class="content">
    <div class="logout">
      <span class="material-icons"> logout </span>
    </div>
    <div class="input-container">
      <div class="input-wrapper">
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          class="input-bar"
          placeholder="Qual a sua ideia hoje..."
          [(ngModel)]="noteText"
          (keydown)="onKeyDown($event)"
          (mouseenter)="hovering = true"
          (mouseleave)="hovering = false"
        ></textarea>
        <button
          *ngIf="noteText"
          class="clear-btn"
          (click)="noteText = ''"
          aria-label="Limpar campo"
        >
          ✕
        </button>
      </div>
      <!-- botao de envio -->
      <button
        mat-icon-button
        class="send-btn"
        (click)="enviarNota()"
        aria-label="Enviar nota"
      >
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
    <div class="notes-board">
      <div
        class="note"
        *ngFor="let nota of inventory.slice().reverse(); let i = index"
        [class.expanded]="expandedIndex === i"
        (mouseenter)="expandedIndex = i"
        (mouseleave)="expandedIndex = null"
      >
        <div class="note-content">{{ nota.content }}</div>
        <!-- botal de exclusao -->
        <button
          *ngIf="expandedIndex === i"
          mat-icon-button
          class="delete-btn"
          (click)="deleteNote(i)"
          aria-label="Excluir nota"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
