.layout {
  display: flex;
}

.content {
  flex: 1;
  background: #1e1e1e;
  padding: 24px;
  color: white;
}

.logout {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding: 0;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.logout:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 32px; // Adiciona espaçamento superior para descer o input
}

.input-bar {
  width: 30px;
  height: 60px;
  max-width: 100%;
  padding: 8px 12px;
  background-color: #1e1e1e;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: width 0.6s ease-in-out;
}

.input-container:hover .input-bar,
.input-bar:focus {
  width: 550px;
}
